body {
  margin: 0;
  text-align: center;/* centers all elements that doesn't have a width set*/
    /* margin: 0 auto; for block elements that have a width set*/
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 100% = 1em = 16px rem does not depend of parrent size, but from root size*/
  color: #23a393;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem; /* 40px*/
  color: #23a393;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #20716a;
}

a {
  color: #20716a;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: none;
  border-top: dotted #ffc0c2 6px;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

/* Containers */

.top-container {
  background-color: #f7e9e3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #23a393;
  margin-top: 100px;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.book-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* Clouds */
.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 400px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

/* Contact button */
.btn {
  background: #23a394;
  border-radius: 9px;
  color: #eaf6f6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #75cac3;
  background-image: linear-gradient(to bottom, #75cac3, #78b0a0);
  text-decoration: none;
  color:  #eaf6f6;
}
